<% if @game %>
  <form action="/<%= @game.id %>" method="post" id="edit">
    <input type="hidden" name="_method" value="put">
    <textarea name="content"><%= @game.location %></textarea>
    <input type="checkbox" name="complete" <%= "checked" if @game.complete %>>
    <input type="submit">
  </form>
  <p><a href="/<%= @game.id %>/delete">Delete</a></p>
<% else %>
  <p>Note not found.</p>
<% end %>