<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= 'SpeedSheets' %></title>
<!--  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">

      <script src='js/jquery.js'></script>
      <script src='js/bootstrap.js'></script>
      <script src='js/bootstrap-typeahead.js'></script>
      <script src='js/custom.js'></script>
      <link href='css/bootstrap.css' rel='stylesheet' type='text/css' /> 

-->

      <script src='js/awesomplete.js' async></script>
      <link href="css/awesomplete.css" rel="stylesheet">
    

</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">SpeedSheets</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
</body>
</html>
