<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= 'SpeedSheets' %></title>
<!--  <link href="/reset.css" rel="stylesheet">
      <link href="/style.css" rel="stylesheet">
      <script src='js/jquery.js'></script>
      <script src='js/bootstrap.js'></script>
      <script src='js/bootstrap-typeahead.js'></script>
      <script src='js/custom.js'></script>
      <link href='css/bootstrap.css' rel='stylesheet' type='text/css' /> 

      <script src='js/awesomplete.js' async></script>
      <script src='js/my_awesomplete.js' async></script>
      <link href="css/awesomplete.css" rel="stylesheet">
-     <link href="/css/auto-complete.css" rel="stylesheet">
      <link href="/css/jquery-ui.structure.css" rel="stylesheet">
      <link href="/css/jquery-ui.css" rel="stylesheet">
      <link href="/css/jquery-ui.theme.css" rel="stylesheet">

-->
      <link href="/css/auto-complete.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>




</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">SpeedSheets</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>



     
 
</body>
</html>
